<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="./static/main.js"></script>
    <title>RPi Steuerung</title>
    <style>


    </style>
</head>
<body>

<div class="top-bar">
    Fachhochschule Nordwestschweiz
</div>


<div class="container">
    <h1>Globus Steuerung</h1>

    <h2>Motor steuern</h2>
    <label>Current Speed:</label>
    <label style="font-size:30px;font-weight:bold;" id="curr_speed">0 </label>
    <br>
    <meter class="meter_cls" id="speed_meter" min="0" max="1000" value="0">
        at 50/100
    </meter>
    <form id="id_mot_ctrl_form" action="/motor_control" method="post">
        <div class="ov_container">
            <div class="sliderValueBg" id="sliderValueBg">0</div>
            <input class="slider" id="mySlider" type="range" min="0" max="1000" value="0"
                   onchange="return submit_motor_control(value);">
        </div>

            <div class="button-container">
                <button type="button" id="eStopButton" class="btn-estop btn-disabled"
                        onclick="return submit_motor_control('off');">
                    🛑 E-Stop
                </button>
                <button type="button" id="resetButton" class="btn-reset btn-enabled"
                        onclick="return submit_motor_control('on');">
                    ✓ Reset E-Stop
                </button>
            </div>
        </form>

    <h2>Bild hochladen</h2>
    <form id="id_jpeg_upload_form" action="/upload" method="POST" onsubmit="return submit_jpeg();"
          enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg,.jpeg,.png,.bmp"/>
        <input type="submit" value="Upload Image"/>
    </form>

    <h2>Globe</h2>
    <form id="id_globe_selector" action="/show_globe_video" method="POST" onsubmit="return submit_globe_view();">
        <input type="radio" name="option" value="fhnw_double_logo_small"> FHNW <br>
        <input type="radio" name="option" value="fhnw_double_logo_small_dark1"> FHNW dark<br>
        <input type="radio" name="option" value="globe"> Relief <br>
        <input type="radio" name="option" value="globe_world_blue_marble_nov2004" checked="checked"> Blue Marble <br>
        <input type=submit value="show" id="radio_submit"/>
    </form>
</div>

</body>
</html>
